@import url(http://fonts.googleapis.com/css?family=Lobster|Roboto);

body{
    font-family:'Roboto', sans-serif;
}

.home-card{
    padding:10px;
    color:white;
    height:200px;
    text-align:center;
    font-size:2em;
}

.total-docks-block{
    background-color:#50aa20;
}

#total-docks-num{
    text-align:center;
    font-size:2em;
    margin:0;
    margin-top:30px;
}


.percent-bikes-block{
    background-color:#3020aa;
}    

#percent-bikes-num{
    text-align:center;
    font-size:2em;
    margin:0;
    margin-top:30px;
}
    
#app-title{
    font-weight:bold;
    font-size:3em;
    width:100%;
    margin:0 auto;
}

#app-logo{
    font-family:'Lobster', cursive;
    width:200px;
    height:127px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
    display:block;
}
